[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Windows 10
GenericName=Start the VirtualBox machine Win_10
Comment=Start the VirtualBox machine win10
Type=Application
Exec=/usr/lib/virtualbox/VirtualBoxVM --comment "win10" --startvm "{e7f21faf-0b25-49a9-8954-e4ca00ffa2b4}"
Icon=virtualbox-vbox.png
